.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-group {
  margin-bottom: 15px;
  width: 100%;
  max-width: 400px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: rgb(3, 3, 3);
  font-size: x-large;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid orange;
  color: rgb(3, 3, 3);
}
.form-group textarea {
  height: 150px;
  max-height: 190px;
  max-width: 400px;
  min-width: 400px;
}
.form-group input:focus,
.form-group textarea:focus {
  color: black;
  outline: none;
  border: 2px solid orange;
  transition: border-color 0.3s ease-in-out;
}
.form-group span {
  color: red;
  font-size: 12px;
}
.contact-form button {
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid transparent;
}
.contact-form button:hover {
  outline: none;
  border: 2px solid rgb(3, 3, 3);
}
.contact-form button:focus {
  outline: none;
  border: 2px solid rgb(3, 3, 3);
}
