.contact-container {
  height: 100vh;
  background-color: #fafbfb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 32px;
  gap: 100px;
}
.contact-title {
  font-size: 2rem;
  color: black;
}
.contact-background {
  height: 100%;
  width: 50%;
  background-size: cover;
}
