.footer {
  border-top: 5px solid rgb(0, 0, 0);
  border-bottom: 5px solid rgb(0, 0, 0);
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}
.logo-footer {
  height: 50px;
  width: 50px;
}
