@font-face {
  font-family: "Amatic";
  src: url(./assets/fonts/Amatic_SC/AmaticSC-Regular.ttf);
}
@font-face {
  font-family: "Matemasie";
  src: url(./assets/fonts/Matemasie/Matemasie/Matemasie-Regular.ttf);
}
@font-face {
  font-family: "Serif-Regular";
  src: url(./assets/fonts/DM_Serif_Text/DMSerifText-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Serif-Regular";
  text-decoration: none;
  list-style: none;
  color: white;
}
body {
  background-color: #0b5f4e;
}
