@font-face {
  font-family: "Mona";
  src: url(./assets/fonts/Mona\ Sans/Mona-Sans.ttf);
}
@font-face {
  font-family: "Unique";
  src: url(./assets/fonts/Unique/Web-TT/Unique-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mona";
  text-decoration: none;
  list-style: none;
  color: white;
}
body {
  background-color: #0b5f4e;
} 
