@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes scaleWave {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  25% {
    transform: scale(2);
  }
}
@keyframes beat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}
.hero-banner {
  height: 100vh;
  width: 100%;
  border-bottom: 5px solid orange;
  position: relative;
  overflow: hidden;
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  filter: brightness(20%);
}
.video-active .background-video {
  opacity: 1;
}
.text-avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 10%;
  position: relative;
  z-index: 1;
}
.text-container h1 {
  font-size: 10rem;
  color: white;
  animation: slideInLeft 1s ease-out forwards;
  letter-spacing: 10px;
}
.text-container h1 span {
  display: inline-block;
  animation: scaleWave 3s ease-in-out;
  animation-delay: calc(0.1s * var(--index));
  font-family: "Unique";
}
.text-container h2 {
  font-size: x-large;
  color: orange;
  text-align: left;
  animation: slideInLeft 1s ease-out forwards;
}
.text-container h3 {
  font-size: 1.17em;
  color: orange;
  cursor: pointer;
}
.text-container h3:hover {
  border-bottom: 2px solid orange;
}
.text-container h4 {
  font-size: 1.17em;
  color: orange;
}
.text-container h5 {
  font-size: 1.17em;
  padding-top: 16px;
}
.text-info {
  display: flex;
  align-items: center;
  padding-top: 100px;
  gap: 100px;
}
.logo-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.logo-container img {
  transition: transform 0.3s ease;
}
.logo-container img:hover {
  transform: scale(1.1);
}
.side-logo {
  height: 50px;
  width: 50px;
}
.github-logo {
  cursor: pointer;
}
.curved-arrow {
  animation: beat 10s infinite;
}
